@import "dist/include-media"
@import "fonts/code"

$text-font-family: "Georgia", serif
$text-font-size: 1rem
$text-align-default: justify
$code-font-family: "JetBrains Mono", monospace
$code-font-size: 85% // because JetBrains Mono runs a bit big

$color-greenfield: darkgreen
$color-text: darkslategray
$color-em-text: darkgreen
$color-highlight: #FFFAB0
$color-hover: lemonchiffon

$bg-content: white
$bg-greenfield: honeydew

$border-ginormous-width: 0.7rem
$border-very-thick-width: 0.4rem
$border-thick-width: 0.3rem
$border-regular-width: 0.2rem
$border-thin-width: 0.1rem
$border-color: change-color($color-greenfield, $green: 80%)

$border-ginormous: $border-ginormous-width solid $border-color
$border-very-thick: $border-very-thick-width solid $border-color
$border-thick: $border-thick-width solid $border-color
$border-regular: $border-regular-width solid $border-color
$border-thin: $border-thin-width solid $border-color

@mixin body-block
  margin: 0
  padding: 1rem

@mixin scrollbars
  &::-webkit-scrollbar
    height: 0.5rem
    width: 0.5rem
  &::-webkit-scrollbar-thumb
    background-color: cadetblue
    border-radius: 0.5rem
