aside,
figure {
  @include contain-floats;
  color: $text-color-dark;
  background-color: $aside-background;
  font-family: $aside-font-family;
  font-style: italic;
  margin: 1rem 0;
  border-top: $border-style $border-color-regular $border-width-regular;
  border-bottom: $border-style $border-color-regular $border-width-thin;
  text-align: center;

  &.video {
    padding-top: 1em;
    padding-bottom: 1em;

    @include media('>=tablet') {
      padding-left: 6%;
      padding-right: 6%;
    }

    @include media('>=desktop') {
      padding-left: 12%;
      padding-right: 12%;
    }

    .video-container {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    margin: 1em 0.5em;
  }

  .image-link,
  picture {
    display: block;
    overflow-x: auto;
    margin: 0 auto;

    >img {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
  }

  .aside-content {
    padding: 1em 0.5em;

    &>*:first-child {
      margin-top: 0;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }
}
