@mixin aside($side) {
  margin: 1rem 0;
  @include media('>=tablet') {
    float: $side;
    @if $side == 'right' {
      margin-left: 2rem;
      margin-right: 0;
    } @else {
      margin-right: 2rem;
      margin-left: 0;
    }
  }
}

aside, figure {
  @include contain-floats;
  color: $color-text-dark;
  font-family: $aside-font-family;
  font-style: italic;
  margin: 1rem 0;
  padding: 0 0.5rem;
  border-top: $border-regular;
  border-bottom: $border-thin;
  text-align: center;

  .image-link, picture {
    display: block;
    overflow-x: auto;
    margin: 1rem auto;

    > img {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
  }

  figcaption {
    @include block;
    font-size: $text-font-size-large;
  }
}
