.view-all-posts {
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  font-style: italic;
  font-family: $font-family-serif;
}

.read-more:not(.no-border) {
  border-bottom: $border-separator;
  padding-bottom: 1em;
  margin-right: 20%;
}

.read-more, .view-all-posts {
  @include grass-icon-bullet;
}

@include media('>=tablet') {
  .tag-cloud {
    width: 60%;
    margin: 0 auto;
  }
}

.page-content .blog {
  h2.post-title {
    border-bottom: none;
  }
}
