code {
  color: $color-text-em;
  font-family: $code-font-family;
  font-size: $code-font-size;
  font-variant-ligatures: none;
  white-space: pre-wrap;
  word-wrap: break-word;

  // keyword
  .kw, .cf {
    color: seagreen;
    font-weight: bold;
  }

  .op {
    color: orangered;
  }

  .ot {
    color: slateblue;
  }

  .dt {
    color: blue;
  }

  // function
  .fu {
    color: blueviolet;
  }

  .st {
    color: lightseagreen;
  }

  // character
  .ch {
    color: yellowgreen;
  }

  .cn {
    color: blueviolet;
  }

  .at {
    color: darkblue;
  }

  .va {
    color: cornflowerblue;
  }
}

pre.sourceCode {
  @include scrollable;
  margin: 1rem;

  code.sourceCode {
    background-color: lighten($color-green, 78%);
    border-top: $border-regular;
    border-bottom: $border-thin;
    display: table;
    white-space: pre;
    word-wrap: initial;

    .line {
      display: table-row;
      &:target {
        background-color: $color-highlight;
      }
      &:hover {
        background-color: $color-hover;
      }
      &:first-child > * {
        padding-top: 0.3rem;
      }
      &:last-child > * {
        padding-bottom: 0.3rem;
      }
    }

    .line-number {
      display: table-cell;
      padding: 0 0.5rem 0 0.5rem;
      border-right: $border-thin;
      text-align: right;
      user-select: none;
      text-decoration: none;
    }

    .line-content {
      display: table-cell;
      padding: 0 0.5rem;
      width: 100%;
    }
  }
}
