code {
  color: $color-emphasize;
  font-family: $code-font-family;
  font-size: $code-font-size;
  font-variant-ligatures: none;
  white-space: pre-wrap;
  word-wrap: break-word;

  // keyword
  .kw, .cf {
    color: seagreen;
    font-weight: bold;
  }

  .op {
    color: orangered;
  }

  .ot {
    color: slateblue;
  }

  .dt {
    color: blue;
  }

  // function
  .fu {
    color: blueviolet;
  }

  .st {
    color: lightseagreen;
  }

  // character
  .ch {
    color: yellowgreen;
  }

  .cn {
    color: blueviolet;
  }

  .at {
    color: darkblue;
  }

  .va {
    color: cornflowerblue;
  }
}

div.sourceCode {
  &::not(div.sourceCode &) {
    @include scrollable;
  }
}

code.sourceCode {
  font-size: 0;
  display: block;
  position: relative;
  margin: 0 1rem;
  counter-reset: line-number;

  .numberLines & {
    padding-left: 3rem;
  }

  > span {
    background-color: beige;
    display: block;
    width: 100%;
    padding: 0 0.5rem;
    font-size: $code-font-size;

    &:first-child {
      padding-top: 0.5rem;
      border-top: $border-regular;
    }
    &:last-child {
      padding-bottom: 0.5rem;
      border-bottom: $border-thin;
    }

    > a:first-child {
      color: $color-emphasize;
    }

    > *:not(a:first-child) {
      width: auto;
    }

    .numberLines & {
      counter-increment: line-number;

      &:hover {
        background-color: $color-hover;
        > a:first-child {
          color: $color-hyperlink;
        }
      }

      &:target {
        background-color: $color-highlight;
      }

      > a:first-child::before {
        display: inline-block;
        width: 2rem;
        margin-left: -3rem;
        margin-right: 1rem;
        text-align: right;
        content: counter(line-number);
        user-select: none;
      }
    }
  }
}
