@use "sass:color";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $root-background;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: $text-color;
  overflow: scroll;
}

strong, em, b, i {
  color: $text-color-emphasize;
}

p {
  @include block;
}

ul, ol {
  margin: 1em 0;
  padding: 0;
}

li > ul {
  margin: 0.5rem 0;
}

.wide-list-items li {
  margin-top: 1em;
  margin-bottom: 1em;
}

dl {
  @include block;
}

dd + dt {
  margin-top: 1em;
}

dt {
  color: $text-color-emphasize;
  font-weight: bold;
}

dd, li {
  display: list-item;
  list-style-type: disc;
  margin-left: 1.5em;
}

ol > li {
  list-style-type: decimal;
}

blockquote {
  background-color: $aside-background;
  margin: 1.5rem 1rem;
  padding: 0.5rem 1rem;
  border-left: $border-style $border-color-regular $border-width-regular;
  border-right: $border-style $border-color-regular $border-width-thin;
  font-style: italic;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

iframe {
  border: none;
}

nav {
  border-top: 0.1rem;
  max-width: 75rem;
  margin: 0 auto;
}

a {
  color: $text-color-hyperlink;
  text-decoration: underline;
}

a em, a strong {
  color: $text-color-hyperlink;
}

.image-link {
  text-decoration: none;
}

.youtube {
  text-align: center;
}

.footnotes {
  font-size: 0.9rem;
  color: $text-color-light;
  border-top: $border-separator;

  hr {
    display: none;
  }

  code {
    font-size: inherit;
  }
}
