@use "sass:color";
@import "variables";
@import "containers";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $root-background;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: $text-color;
  overflow: scroll;
}

strong, em, b, i {
  color: $text-color-emphasize;
}

p {
  @include block;
}

ul {
  @include block;
}

li > ul {
  margin: 0.5rem 0;
}

.wide-list-items li {
  @include block;
}

dl {
  @include block;
}

dt {
  color: $header-color;
  font-family: $header-font-family;
  font-style: italic;
  font-weight: bold;
  font-size: $header-font-size-ratio * 1em;
  text-decoration: underline;
}

dd {
  @include block;
  margin-left: 1.5em;
}

blockquote {
  background-color: $aside-background;
  margin: 1.5rem 1rem;
  padding: 0.5rem 1rem;
  border-left: $border-style $border-color-regular $border-width-regular;
  border-right: $border-style $border-color-regular $border-width-thin;
  font-style: italic;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

iframe {
  border: none;
}

nav {
  border-top: 0.1rem;
  max-width: 75rem;
  margin: 0 auto;
}

a {
  color: $text-color-hyperlink;
  text-decoration: underline;
}

a em {
  color: $text-color-hyperlink;
}

.image-link {
  text-decoration: none;
}

.youtube {
  text-align: center;
}

.footnotes {
  font-size: 0.9rem;
  color: $text-color-light;
  border-top: $border-separator;

  hr {
    display: none;
  }

  code {
    font-size: inherit;
  }
}

@mixin grass-icon-bullet {
  background-image: url("/images/grass.svg");
  background-size: 1.3em 1.3em;
  background-position: 0 0.1em;
  background-repeat: no-repeat;
  padding-left: 1.6em;
}

@mixin overflow-shadows-x($background-color: $root-background, $shadow-color: #cccccc) {
  background:
    linear-gradient(90deg, $background-color 10%, color.adjust($background-color, $alpha: 0) 100%),
    linear-gradient(270deg, $background-color 10%, color.adjust($background-color, $alpha: 0) 100%) 100% 0,
    radial-gradient(farthest-side at 0% 45%, color.adjust($shadow-color, $alpha: 0.6), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 45%, color.adjust($shadow-color, $alpha: 0.6), rgba(0, 0, 0, 0)) 100% 0;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 3em 100%, 3em 100%, 1em 110%, 1em 110%;
}
