@import "containers";

h1, h2, h3, h4 {
  @include block;
  line-height: 1.2;
  padding: 0;
  color: $color-green;
  font-family: $header-font-family;
  a {
    text-decoration: underline;
  }
  em {
    text-decoration: underline;
  }
}

section h1 {
  border-top: $border-regular;
  padding: 0.5rem 0;
}

h1 {
  font-size: $text-font-size * 1.5;
}
h2 {
  font-size: $text-font-size * 1.25;
  font-style: italic;
}
h3 {
  font-size: $text-font-size * 1.125;
  font-style: italic;
}
h4 {
  font-size: $text-font-size;
  font-style: italic;
}

* + h1, * + h2, * + h3, * + h4 {
  margin-top: 1.2rem;
}

h1 + h2, h2 + h3, h3 + h4 {
  margin-top: 1rem;
}
