@import "containers";

h1, h2, h3 {
  @include block;
  line-height: 1.2;
  padding: 0;
  color: $color-emphasize;
  font-weight: 500;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $color-hyperlink;
    }
  }
}

section h1 {
  border-top: $border-regular;
  padding: 0.5rem 0;
}

h1 {
  font-size: $text-font-size * 1.5;
}
h2 {
  font-size: $text-font-size * 1.25;
  font-style: italic;
}
h3 {
  font-size: $text-font-size;
  font-style: italic;
}
