@import "containers";

h1, h2, h3, h4, h5, h6, .h-style {
  @include block;
  color: $header-color;
  font-family: $header-font-family;
  font-style: italic;
  line-height: 1.2;
  a, em, i, strong, b {
    text-decoration: underline;
  }
}

section h1 {
  border-top: $border-regular;
  padding: 0.5em 0;
}

@function header-size-factor($multiplier) {
  $factor: $header-font-size-base;
  @for $i from 1 through $multiplier {
    $factor: $factor * $header-font-size-ratio;
  }
  @return $factor;
}

h1 {
  font-size: header-size-factor(6) * 1em;
}
h2 {
  font-size: header-size-factor(5) * 1em;
}
h3 {
  font-size: header-size-factor(4) * 1em;
}
h4 {
  font-size: header-size-factor(3) * 1em;
}
h5 {
  font-size: header-size-factor(2) * 1em;
}
h6 {
  font-size: header-size-factor(1) * 1em;
}

* + h1, * + h2, * + h3, * + h4 {
  margin-top: 1.4em;
}

h1 + h2, h2 + h3, h3 + h4 {
  margin-top: 0;
}
