.tag-cloud {
  --min-size: 0.6;
  --max-size: 1.6;

  @include media('>=tablet') {
    --min-size: 0.8;
    --max-size: 2.0;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .tag {
    --norm: calc((var(--count) - var(--min-count)) / (var(--max-count) - var(--min-count)));
    --size: calc(var(--norm) * (var(--max-size) - var(--min-size)) + var(--min-size));
    color: $text-color-hyperlink;
    display: block;
    font-size: calc(var(--size) * 1em);
    padding: 0.125em 0.25em;
    text-decoration: none;
    position: relative;
  }

  &[data-show-count] .tag::after {
    content: "×" attr(data-count);
  }
}
