@import "../elements/containers";

.page-footer {
  @include layout-section;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  border-top: $border-regular;
  border-bottom: $border-ginormous;
  line-height: 1.2;

  $margin: 0.3rem 0;

  .main-nav {
    margin: $margin;
  }

  .copyright {
    font-size: $text-font-size-tiny;
    margin: $margin;
    margin-bottom: 0.6rem;
  }

  .acks {
    display: flex;
    font-size: $text-font-size-miniscule;
    color: $text-color-light;
    margin: $margin;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding-right: 0.3rem;
    }

    li + li {
      border-left: $border-thin;
      border-color: $text-color-light;
      padding-left: 0.3rem;
    }
  }

  .generated {
    font-size: $text-font-size-miniscule;
    color: $text-color-light;
    margin: $margin;
  }
}
