.page-footer {
  @include layout-section;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  border-top: $border-style $border-color-dark $border-width-regular;
  border-bottom: $border-style $border-color-dark $border-width-ginormous;
  font-size: $text-font-size-tiny;
  $margin: 0.3rem 0;

  .main-nav {
    margin: $margin;

    a {
      text-decoration: none;
    }
  }

  .copyright {
    font-size: $text-font-size-tiny;
    color: $text-color-light;
    margin: $margin;
  }

  .acks {
    font-size: $text-font-size-miniscule;
    color: $text-color-light;
    margin: $margin;
    padding: 0;
    list-style: none;

    li {
      @include grass-icon-bullet;
    }

    @include media('>=tablet') {
      li {
        display: inline-block;
      }

      li + li {
        margin-left: 0.4em;
      }
    }
  }

  .generated {
    font-size: $text-font-size-miniscule;
    color: $text-color-light;
    margin: $margin;
  }
}
