@import "../elements/containers";

.page-footer {
  @include layout-section {
    margin: 1rem auto;
  }
  border-top: $border-regular;
  border-bottom: $border-ginormous;
  line-height: 1.2;

  $margin: 0.3rem 0;

  .main-nav {
    margin: $margin;
  }

  .acks {
    font-size: $text-font-size-tiny;
    list-style: none;
    margin: $margin;
    padding: 0;
    display: flex;

    li {
      margin: 0;
      padding-right: 0.3rem;
    }

    li + li {
      border-left: $border-thin;
      padding-left: 0.3rem;
    }
  }

  .generated {
    font-size: $text-font-size-tiny;
    margin: $margin;
  }
}
