@import "../variables";
@import "../vendor/include-media";

.page-header {
  $logo-icon-width: 3rem;
  border-top: $border-style $border-color-dark $border-width-ginormous;
  border-bottom: $border-style $border-color-dark $border-width-regular;

  @include layout-section {
    display: grid;
    grid-template-areas: "logo-nav logo-icon";
    grid-template-columns: auto $logo-icon-width;
    padding: 0.5rem;

    .logo-nav {
      grid-area: logo-nav;
      grid-column: 1 / auto;
    }

    .logo-icon {
      grid-area: logo-icon;
      grid-column: 2 / rem($logo-icon-width);
      display: block;
      background-image: url("/images/grass.svg");
      background-size: $logo-icon-width;

      &,
      &>a {
        width: $logo-icon-width;
        height: $logo-icon-width;
        display: block;

        span {
          display: none;
        }
      }
    }

    .logo {
      margin: 0 0 0.25rem;
      padding: 0;
      font-weight: bold;
      font-size: $text-font-size * 1.4;
      text-align: left;

      a {
        color: $signature-green;
        text-decoration: none;
      }
    }
  }
}
