.main-nav {
  @include contain-floats;
  margin: 0;
  a {
    display: list-item;
    list-style: none;
    float: left;
    font-size: $text-font-size-small;
    line-height: 1.2;
    & + a {
      margin-left: 0.5rem;
      padding-left: 0.5rem;
      @include media("<tablet") {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: none;
      }
    }
  }
}
