.page-content {
  @include layout-section;
  padding-bottom: 1.2em;

  h1:not(.no-border) {
    padding-bottom: 0.2em;
    border-bottom: $border-header;
  }

  h2:not(.no-border) {
    padding-bottom: 0.2em;
    border-bottom: $border-header;
  }
}

.page-comments {
  margin-top: 2.4em;
  border-top: $border-separator
}
