.main-nav {
  @include contain-floats;
  margin: 0;

  a {
    display: list-item;
    list-style: none;
    font-size: $text-font-size-large;
  }

  @include media(">=tablet") {
    a {
      float: left;
      line-height: 1.2;

      &+a {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}
