.post-title {
  margin-bottom: 0.25rem;
}

.post-published {
  color: $text-color-light;
  margin: 0.25rem 0;
  font-size: $text-font-size-small;
}

.post-categories, .post-tags {
  font-size: $text-font-size-small;
  margin: 0.25rem 0;
  a {
    color: #a33;
  }
}

.post-categories {
  font-style: italic;
}

.teaser-list {
  .teaser-item {
    border-top: $border-thin;
  }
  header + * {
    margin-top: 0.5rem;
  }
}

.post-full {
  counter-reset: heading_l2;

  h2::before {
    content: counter(heading_l2) " - ";
    counter-increment: heading_l2;
    user-select: none;
  }
  h2 {
    counter-reset: heading_l3;
  }

  h3::before {
    content: counter(heading_l2) "." counter(heading_l3) " - ";
    counter-increment: heading_l3;
    user-select: none;
  }
  h3 {
    counter-reset: heading_l4;
  }

  h4::before {
    content: counter(heading_l2) "." counter(heading_l3) "." counter(heading_l4) " - ";
    counter-increment: heading_l4;
    user-select: none;
  }
  h4 {
    counter-reset: heading_l5;
  }

  h5::before {
    content: counter(heading_l2) "." counter(heading_l3) "." counter(heading_l4) "." counter(heading_l5) " - ";
    counter-increment: heading_l5;
    user-select: none;
  }
  h5 {
    counter-reset: heading_l6;
  }

  h6::before {
    content: counter(heading_l2) "." counter(heading_l3) "." counter(heading_l4) "." counter(heading_l5) "." counter(heading_l6) " - ";
    counter-increment: heading_l6;
    user-select: none;
  }
}
