.post-title {
  margin-bottom: 0.25rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $text-color-hyperlink;
    }
  }
}

.latest-post-label {
  color: $text-color-emphasize;
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0 0 0.25em 0;
}

.post-meta {
  font-size: $text-font-size-small;

  p {
    margin: 0;
  }

  .post-published {
    color: $text-color-light;
  }

  .post-categories {
    font-style: italic;
  }

  .post-categories a, .post-tags a {
    color: $text-color-hyperlink-complement;
  }
}

.teaser-list {
  .teaser-item {
    border-top: $border-thin;
  }
  header + * {
    margin-top: 0.5rem;
  }
}

.post-full {
  counter-reset: heading_l2;

  h2::before {
    content: counter(heading_l2) ". ";
    counter-increment: heading_l2;
    user-select: none;
  }
  h2 {
    text-decoration: underline;
    counter-reset: heading_l3;
  }

  h3::before {
    content: counter(heading_l2) "." counter(heading_l3) ". ";
    counter-increment: heading_l3;
    user-select: none;
  }
  h3 {
    counter-reset: heading_l4;
  }

  h4::before {
    content: counter(heading_l2) "." counter(heading_l3) "." counter(heading_l4) ". ";
    counter-increment: heading_l4;
    user-select: none;
  }
  h4 {
    counter-reset: heading_l5;
  }

  h5::before {
    content: counter(heading_l2) "." counter(heading_l3) "." counter(heading_l4) "." counter(heading_l5) ". ";
    counter-increment: heading_l5;
    user-select: none;
  }
  h5 {
    counter-reset: heading_l6;
  }

  h6::before {
    content: counter(heading_l2) "." counter(heading_l3) "." counter(heading_l4) "." counter(heading_l5) "." counter(heading_l6) ". ";
    counter-increment: heading_l6;
    user-select: none;
  }
}
