.post {
  .post-title {
    margin-bottom: 0.25rem;
  }

  .post-published p {
    margin-top: 0.25rem;
    font-size: 0.90rem;
    color: $color-text-light;
  }
}

.teaser-list {
  .teaser-item {
    border-top: $border-thin;
  }
  header + * {
    margin-top: 0.5rem;
  }
}
