body > footer {
  @include body-segment;
  margin: 0 auto;
  padding: 1rem 0 2rem;
  border-top: $border-regular;
  border-bottom: $border-ginormous;
  text-align: center;
  p {
    max-width: 75rem;
    text-align: left;
    margin: 0 auto;
  }
  .copyright {
    font-size: 0.9rem;
  }
  .generated-by-hakyll {
    font-size: 0.8rem
  }
}
