.post .page-title {
  display: none;
}

.post {
  header {
    h1 {
      margin-bottom: 0.5rem;
    }
    .published {
      font-size: 0.85rem;
      font-style: italic;
      color: slategrey;
    }
  }
}
