.homepage {
  .skills {
    h3 {
      margin-bottom: 0.5rem
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      display: block;
      line-height: 2;
      margin: 0 0.05rem;
      padding: 0;
      &::before, &::after {
        content: ":";
        display: inline-block;
      }
      &::before {
        margin-right: 0.3rem;
      }
      &::after {
        margin-left: 0.3rem;
      }
    }
  }

  > h2 {
    grid-area: header;
  }

  .foundations {
    grid-area: foundations;
  }

  .languages {
    grid-area: languages;
  }

  .databases {
    grid-area: databases;
  }

  .interfaces {
    grid-area: interfaces;
  }

  .integrations {
    grid-area: integrations;
  }

  .applied {
    grid-area: applied;
  }

  @include media('<tablet') {
    .page-title {
      text-align: center;
    }

    .skills {
      h3 {
        text-align: center
      }
      ul {
        justify-content: center;
      }
    }

    .professional-toolbox > h2 {
      text-align: center;
    }

    .professionally-applied {
      margin-top: 1rem;
      border-top: $border-thin;
    }
  }

  @include media('>=tablet', '<desktop') {
    .intro {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "myself doge"
        "life life";

      .meatball-headshot {
        grid-area: doge;
      }

      .myself {
        grid-area: myself;
      }

      .life-itself {
        grid-area: life;
      }
    }

    .personal-stuff {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "doges life";

      .meatball-jellybean {
        grid-area: doges;
        text-align: center;
      }

      .my-life {
        grid-area: life;
      }
    }

    .professional-offering {
      padding-bottom: 1rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      > h2 {
        padding: 0 0 0.5rem;
        margin: 0.5rem 0 0;
      }
    }

    .professional-toolbox {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1rem;
      grid-template-areas:
        "header       header"
        "foundations  foundations"
        "languages    applied"
        "integrations applied"
        "databases    applied"
        "interfaces   applied";
    }
  }

  @include media('>=desktop') {
    .intro {
      display: grid;
      grid-gap: 1rem;
      grid-template-areas:
        "myself myself myself doge"
        "life life life doge";

      .meatball-headshot {
        grid-area: doge;
      }

      .myself {
        grid-area: myself;
      }

      .life-itself {
        grid-area: life;
      }
    }

    .personal-stuff {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "doges life";

      .meatball-jellybean {
        grid-area: doges;
        text-align: center;
        align-items: center;;
      }

      .my-life {
        grid-area: life;
      }
    }

    .professional-offering > h2 {
      padding: 0 0 0.5rem;
      margin: 0.5rem 0 0;
    }

    .professional-toolbox {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 3fr 3fr;
      grid-template-areas:
        "header      header       applied"
        "foundations foundations  applied"
        "languages   integrations applied"
        "databases   interfaces   applied";
    }
  }
}

.teaser-list {
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .teaser-item {
    > *:nth-last-child(2) {
      margin-bottom: 0.5rem;
    }
  }
  .teaser-item + .teaser-item {
    border-top: $border-thin;
  }
  header + * {
    margin-top: 0.5rem;
  }
  .read-more {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
