@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/webfonts/JetBrainsMono-Medium.woff2") format('woff2')
         url("/fonts/JetBrainsMono/ttf/JetBrainsMono-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2") format('woff2')
         url("/fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@import "vendor/include-media";

@import "fonts";
@import "elements/default";
@import "elements/containers";
@import "elements/headers";
@import "elements/asides";
@import "elements/code";
@import "elements/tag-cloud";
@import "elements/blog";

@import "layout/header";
@import "layout/main";
@import "layout/main-nav";
@import "layout/footer";
@import "layout/post";
