$text-font-family: "Georgia", serif;
$text-font-size: 1rem;
$text-hyphens: none;
$text-align-default: left;

$code-font-family: "JetBrains Mono", monospace;
$code-font-size: 0.75rem; // because JetBrains Mono runs a bit big

$color-green: darkgreen;
$color-text: darkslategray;
$color-text-light: slategray;
$color-emphasize: $color-green;
$color-highlight: gold;
$color-hover: yellow;
$color-aside: beige;
$color-hyperlink: dodgerblue;
$color-background: ivory;

$border-ginormous-width: 0.5rem;
$border-very-thick-width: 0.4rem;
$border-thick-width: 0.3rem;
$border-regular-width: 0.2rem;
$border-thin-width: 0.1rem;
$border-color: darken($color-green, 4%);
$border-style: solid $border-color;

$border-ginormous: $border-ginormous-width $border-style;
$border-very-thick: $border-very-thick-width $border-style;
$border-thick: $border-thick-width $border-style;
$border-regular: $border-regular-width $border-style;
$border-thin: $border-thin-width $border-style;
