@use "sass:color";

$text-font-family: Helvetica, Arial, sans-serif;
$text-font-size: 1rem;
$text-font-size-small: $text-font-size * 0.85;
$text-font-size-tiny: $text-font-size * 0.8;
$text-font-size-miniscule: $text-font-size * 0.75;
$text-font-size-large: $text-font-size * 1.1;
$text-hyphens: none;
$text-align-default: left;

$header-font-family: "Times New Roman", serif;
$aside-font-family: $header-font-family;

$color-green: darkgreen;
$color-text: darkslategray;
$color-text-dark: color.adjust($color-green, $lightness: 1%);
$color-text-light: slategray;
$color-emphasize: darkred;
$color-highlight: gold;
$color-hover: yellow;
$color-aside: color.adjust(honeydew, $hue: -10%, $saturation: -50%, $lightness: -3%);
$color-hyperlink: dodgerblue;
$color-hyperlink-complement: indianred;
$color-background: aliceblue;
$color-scrollbar: cadetblue;

$border-ginormous-width: 0.5rem;
$border-very-thick-width: 0.4rem;
$border-thick-width: 0.3rem;
$border-regular-width: 0.2rem;
$border-thin-width: 0.1rem;
$border-color: darken($color-green, 4%);
$border-style: solid $border-color;

$border-ginormous: $border-ginormous-width $border-style;
$border-very-thick: $border-very-thick-width $border-style;
$border-thick: $border-thick-width $border-style;
$border-regular: $border-regular-width $border-style;
$border-thin: $border-thin-width $border-style;

$content-max-width: 65rem;

$code-font-family: "Courier", "Courier New", monospace;
$code-font-size: 1rem;
$code-color: indianred;
$code-color-hyperlink: $color-hyperlink;
