<header>
  <div class="logo">
    <a href="$route-to("index.html")$"><span class="logo-icon"></span></a>
    <a href="$route-to("index.html")$">This Field Was Green</a>
  </div>
  <nav>
    <a href="$route-to("index.html")$">Home</a>
    <a href="$route-to("archives.html")$">Posts</a>
    <a href="$route-to("about-me.md")$">About</a>
    <a href="$route-to("resume.md")$">Resume</a>
    <a href="$route-to("contact.md")$">Contact</a>
  </nav>
</header>

<main role="main">
  <h1>$title$</h1>
  $body$
</main>

$partial("partials/footer.html")$
