.doge figure
  width: 14rem
  text-align: center
  float: right
  figcaption
    text-align: left

.tools
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: space-between
  align-content: flex-start
  section
    width: 14rem
    padding: 0 1rem 1rem
    border-left: $border-regular solid $border-color
  h3
    margin: 0 0 1rem 0
  ul
    padding: 0 0 0 1rem
    margin: 0
