.homepage {
  .skills {
    h3 {
      margin-bottom: 0.5rem
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      display: block;
      line-height: 2;
      margin: 0 0.05rem;
      padding: 0;
      &::before, &::after {
        content: ":";
        display: inline-block;
      }
      &::before {
        margin-right: 0.3rem;
      }
      &::after {
        margin-left: 0.3rem;
      }
    }
  }

  @include media('<tablet') {
    .page-title {
      text-align: center;
    }

    .skills {
      h3 {
        text-align: center
      }
      ul {
        justify-content: center;
      }
    }

    .professional-toolbox > h2 {
      text-align: center;
    }

    .professionally-applied {
      margin-top: 1rem;
      border-top: $border-thin;
    }
  }

  @include media('>=tablet') {
    .intro {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 0 2rem;

      .meatball-headshot {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
      }

      .myself {
        grid-column: 1 / span 1;
        grid-row: 1;
      }

      .life-itself {
        grid-column: 1 / span 1;
        grid-row: 2;
      }
    }

    .personal-stuff {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 0 2rem;

      .meatball-jellybean {
        grid-column: 1 / span 1;
        text-align: center;
      }

      .my-life {
        grid-column: 2 / span 1;
      }
    }

    .professional-offering {
      padding-bottom: 1rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      > h2 {
        padding: 0 0 0.5rem;
        margin: 0.5rem 0 0;
      }
    }

    .professional-toolbox {
      display: grid;
      grid-gap: 0 2rem;
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 3fr 3fr;
      grid-template-areas:
        "header      header       applied"
        "foundations foundations  applied"
        "languages   integrations applied"
        "databases   interfaces   applied";

      > h2 {
        grid-area: header;
      }

      .foundations {
        grid-area: foundations;
      }

      .languages {
        grid-area: languages;
      }

      .databases {
        grid-area: databases;
      }

      .interfaces {
        grid-area: interfaces;
      }

      .integrations {
        grid-area: integrations;
      }

      .applied {
        grid-area: applied;
      }
    }
  }
}
