<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{siteTitle}}{{#if title}} - {{title}}{{#end}}</title>
<link rel="canonical" href="{{absUrl}}">
<link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64 96x96 128x128 256x256" href="{{siteRoot}}/favicon.ico">

{{#if useSocial-}}
{{-partial "social/open-graph"-}}
{{-partial "social/twitter-card"-}}
{{-#end-}}

<link rel="stylesheet" href="/css/main.css">
<script src="{{getUrl 'js/main.js'}}"></script>

</head>
<body class="{{bodyClass | default 'default'}}">
{{body}}
</body>
</html>
