---
stylesheet: /css/main.css
script: /js/main.js
---
<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>$siteTitle$$if(title)$ - $title$$endif$</title>

$if(author)$
<link rel="author" href='/' content="$author$">
$endif$
<link rel="icon" href="/images/grass.svg">

$for(stylesheets)$<link rel="stylesheet" href="$href$">$endfor$
$for(scripts)$<script src="$src$"></script>$endfor$

</head>
<body class="$bodyClass$">
$body$
</body>
</html>
